@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Michroma', Arial;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
}

#calculator {
  max-width: 320px;
  width: 100%;
  background: #000000;
}

#result {
  color: #000000;
  height: 100px;
  font-size: 32px;
  line-height: 100px;
  padding: 0 15px;
  text-align: right;
  white-space: nowrap;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 0 0 15px 0;
  corner-shape: bevel;
  margin-bottom: 5px;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

#buttons button {
  aspect-ratio: 1 / 1;
  font-size: 20px;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 0 0 15px 0;      
  corner-shape: bevel;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.4s ease, color 0.4s ease;
}

#buttons .equals {
  grid-column: span 2;
  aspect-ratio: auto;
}

#buttons button:hover {
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #ffffff;
}

#buttons button:active {
  background-color: #eb0303;
}